#canvas {
    margin-top: 100px;
    background-color: white;
    border: 5px solid red;
    border-top-width: 6px;
    color: black;
    font-size: 16px;
  
    width: 800px;
    height: 750px;
    margin-left: 300px;
    margin-bottom: 100px;
  
}

h1 {
    margin: 0;
    padding: 10px;
    background-color: red;
    color: white;
    font-size: 24px;
  
}

ul {
    margin: 0;
    padding: 0 0 0 20px;
}

li {
    margin: 10px 0;
}

.buttons {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.buttons ul {
  list-style: none;
  display: flex;
}

.buttons li {
  margin: 0 10px;
}

.buttons a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.buttons a:hover {
  background-color: #e13232;
}

#Fotos {
  background-color: #ff0000;
}

#Projetos {
  background-color: #e13232;
}
